<div
  class="modal fade"
  id="divmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="display: block"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Update</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form *ngIf="updateCustomerForm" [formGroup]="updateCustomerForm">
          <div class="form-floating mb-3">
            <input
              type="text"
              formControlName="customerName"
              class="form-control"
              placeholder="Ad-Soyad"
            />
            <label for="floatingFirstname">Customer Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              formControlName="customerBirthDate"
              class="form-control"
              placeholder="Doğum Tarihi"
            />
            <label for="floatingInput">Customer Birth Date</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              formControlName="customerPhoneNumber"
              class="form-control"
              placeholder="Telefon"
            />
            <label for="floatingLastname">Customer Phone Number</label>
          </div>

          <div class="form-floating mb-3">
            <textarea
              type="text"
              formControlName="customerDescription"
              class="form-control"
              placeholder="Açıklama"
            ></textarea>
            <label for="floatingInput">Customer Description</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submit()">
          Update
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
