<div class="row">
  <input
    type="text"
    placeholder="Input"
    class="form-control col-6"
    [(ngModel)]="search"
  />
  <button type="button" class="btn btn-danger col-2" (click)="getList()">
    Search
  </button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Customer Name</th>
      <th scope="col">Customer Birth Date</th>
      <th scope="col">Customer Phone Number</th>
      <th scope="col">Customer Description</th>
      <th scope="col">Configure Customer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of list">
      <td>{{ customer.customerName }}</td>
      <td>{{ customer.customerBirthDate }}</td>
      <td>{{ customer.customerPhoneNumber }}</td>
      <td>{{ customer.customerDescription }}</td>
      <td>
        <a [routerLink]="'./' + customer.id + '/edit'" class="btn btn-info"
          >Update</a
        >
      </td>
      <td>
        <button
          class="btn btn-danger mx-1"
          [swal]="{
            title: 'Do you want to delete?',
            showCancelButton: true
          }"
          (confirm)="deleteCustomer(customer)"
        >
          Delete
        </button>
      </td>
    </tr>
    <tr></tr>
  </tbody>
</table>
<div class="d-grid gap-2">
  <button routerLink="./add" class="btn btn-primary" type="button">
    Add Customer
  </button>
</div>
<router-outlet (deactivate)="getList()"></router-outlet>
